@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0;
}

.active {
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    svg {
        stroke: white;
    }
}